@import "../../styles/variables";
@import "../../styles/responsive";
@import "../../styles/typography";

.header {
  background-color: $color-primary;
  position: fixed;
  width: 100%;
  .dash-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include devices(desktop) {
      padding-left: 150px;
      padding-right: 80px;
    }

    .nav-menu {
      @include devices(desktop) {
        display: none;
      }
      .menu-icon {
        color: white;

        width: 20px;
        height: auto;
        cursor: pointer;
        @include devices(mobile) {
          margin-top: 5px;
        }
      }
    }
    .nav-menu-links {
      position: absolute;
      top: 50px;
      left: 0;
      right: 0;
      background-color: $color-primary;
      z-index: 9;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      transition: $transition;
      display: flex;
      gap: 20px;
      @include devices(mobile) {
        top: 30px;
        gap: 10px;
      }
      &.hide {
        transform: translateX(-150%);
      }
      &.show {
        transform: translateX(0);
      }
      @include devices(desktop) {
        display: none;
      }
      ul {
        padding: 30px 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        li {
          a {
            color: $white;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: 700;
            font-size: 13px;
            transition: $transition;
            &:hover {
              color: $color-accent;
            }
          }
          a.active {
            color: $color-accent;
          }
        }
      }

      a {
        color: $white;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 700;
        font-size: 13px;
        transition: $transition;
        &:hover {
          color: $color-accent;
        }
      }
      a.active {
        color: $color-accent;
      }
    }
    .nav-logo {
      width: 170px;
      @include devices(mobile) {
        width: 120px;
      }
    }

    .log {
      position: relative;
      justify-content: center;

      .hide {
        display: none;
      }

      p {
        text-align: center;
        color: $white;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 700;
        font-size: 13px;
        transition: $transition;
        margin: 0;
        cursor: pointer;
        @include devices(mobile) {
          font-size: 8px;
          letter-spacing: 1px;
          font-weight: 500;
          line-height: 15px;
        }
        &:hover {
          color: $color-accent;
        }
        .icon {
          margin-left: 5px;
        }
      }
    }
  }
}
.wrapper {
  display: flex;

  aside {
    height: 100vh;
    position: fixed;
    background-color: $color-primary;
    padding-left: 30px;
    width: 160px;
    padding-top: 80px;
    font-size: 17px;
    @include devices(tablet) {
      display: none;
    }
    @include devices(mobile) {
      display: none;
    }

    li {
      padding-block: 3px;
      a {
        color: white;
        &:hover {
          color: $color-accent;
        }
      }
      a.active {
        color: $color-accent;
      }
    }
  }
  .content-wrapper {
    margin-inline: auto;
    width: 100%;
    margin-top: 50px;
    @include devices(desktop) {
      padding-left: 160px;
    }
  }
}
