@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap");
@import "./variables";
@import "./typography";
@import "./responsive";

*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

::selection {
    background: $color-accent;
    color: $white;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Manrope", sans-serif;
    font-size: $base-font-size;
    line-height: $base-line-height;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

.container {
    width: 80%;
    margin: 0 auto;

    @include devices(mobile) {
        width: 90%;
    }
    @include devices(tablet) {
        width: 90%;
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: $color-accent;
}
