// $color-primary: rgb(31, 28, 28);
$color-primary: #0f0f0f;
$color-accent: #d87d4a;
$color-accent-hover: #fbaf85;
$color-light-grey: #f1f1f1;
$color-pearl-white: #fafafa;
$color-error: #cd2c2c;
$white: #fff;
$black: #000;

$transition: all 0.3s ease-in-out;
