@import "../../../styles/variables";
@import "../../../styles/responsive";
@import "../../../styles/mixins";

.addcategory-wrapper {
  form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    @include devices(mobile) {
      gap: 10px;
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      label {
        @include label;
        &.error {
          color: $color-error;
        }
      }
      input {
        @include input;
        &.error {
          outline: 1px solid $color-error;
        }
      }
    }
    button {
      @include btn;

      margin-top: 25px;
      @include devices(mobile) {
        margin-top: 0;
      }
    }
  }
}
