@import "../../styles/variables";
@import "../../styles/responsive";
@import "../../styles/mixins";

.login-wrapper {
  padding-block: 70px;
  background-color: $color-light-grey;
  padding-block: 70px;
  background-color: $color-light-grey;
  @include devices(mobile) {
    padding-block: 30px;
  }

  @include devices(tablet) {
    padding-top: 40px;
  }

  .form-input {
    width: 650px;
    background-color: $white;
    border-radius: 8px;
    margin-inline: auto;
    padding: 50px;
    @include devices(mobile) {
      width: 100%;
      padding: 20px;
    }

    @include devices(tablet) {
      min-width: 60%;
      max-width: 80%;
    }
    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 16px;
      font-size: 18px;
      font-weight: 500;
      label {
        @include label;
        .error-msg {
          color: $color-error;
          text-transform: capitalize;
          font-size: 12px;
          font-weight: 700;
          letter-spacing: 0.2px;
        }
        &.error {
          color: $color-error;
        }
      }
      input {
        @include input;
        font-size: 18px;
        &::placeholder {
          font-size: 18px;
        }

        &.error {
          outline: 1px solid $color-error;
        }
      }

      button {
        @include btn;
        font-size: 18px;
      }
    }
  }
}
