@import "../../styles/variables";
@import "../../styles/responsive";
@import "../../styles/mixins";

.navbar-wrapper {
  background-color: $color-primary;
  position: relative;
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    .nav-menu {
      @include devices(desktop) {
        display: none;
      }
      .menu-icon {
        color: white;
        width: 20px;
        height: auto;
        cursor: pointer;
      }
    }
    .nav-menu-links {
      position: absolute;
      top: 71px;
      left: 0;
      right: 0;
      width: 100%;
      background-color: $color-primary;
      z-index: 9;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      transition: $transition;
      display: flex;
      gap: 20px;
      &.hide {
        transform: translateX(-150%);
      }
      &.show {
        transform: translateX(0);
      }
      @include devices(desktop) {
        display: none;
      }
      ul {
        padding: 30px 35px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        li {
          a {
            color: $white;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: 700;
            font-size: 13px;
            transition: $transition;
            &:hover {
              color: $color-accent;
            }
          }
          a.active {
            color: $color-accent;
          }
        }
      }
      .log-menu {
        margin-top: 20px;

        position: relative;

        ul {
          position: absolute;

          padding: 0;
        }
        .hide {
          display: none;
        }

        p {
          color: $white;
          text-transform: uppercase;
          letter-spacing: 1px;
          font-weight: 500;
          font-size: 10px;
          transition: $transition;

          &:hover {
            color: $color-accent;
          }
          .icon {
            margin-left: 5px;
          }
        }
        a {
          color: $white;
          text-transform: uppercase;
          letter-spacing: 1px;
          font-weight: 500;
          font-size: 10px;
          transition: $transition;
          &:hover {
            color: $color-accent;
          }
        }
      }

      a {
        color: $white;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 700;
        font-size: 13px;
        transition: $transition;
        &:hover {
          color: $color-accent;
        }
      }
      a.active {
        color: $color-accent;
      }
    }
    .nav-logo {
      width: 170px;
    }
    .nav-links {
      @include devices(mobile) {
        display: none;
      }
      @include devices(tablet) {
        display: none;
      }
      display: flex;
      gap: 35px;
      a {
        color: $white;
        text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
          1px 1px 0 black;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 700;
        font-size: 13px;
        transition: $transition;
        &:hover {
          scale: 1.2;
          color: $color-accent;
        }
        &.active {
          color: $color-accent;
          scale: 1.2;
        }
      }
      p {
        color: $white;
        text-shadow: -1px -1px 0 $color-primary, 1px -1px 0 $color-primary,
          -1px 1px 0 $color-primary, 1px 1px 0 $color-primary;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 700;
        font-size: 13px;
        transition: $transition;
        &:hover {
          color: $color-accent;
        }
        &.active {
          color: $color-accent;
        }
      }
    }
    .cart {
      display: flex;
      gap: 5px;
      img {
        cursor: pointer;
      }
      .cart-qty {
        color: $white;
        font-size: 13px;
      }
    }

    .log {
      position: relative;
      justify-content: center;
      ul {
        position: absolute;
        top: 25px;
        z-index: 99;
      }
      .hide {
        display: none;
      }

      p {
        color: $white;

        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 700;
        font-size: 13px;
        transition: $transition;
        margin: 0;
        cursor: pointer;
        &:hover {
          color: $color-accent;
        }
        .icon {
          margin-left: 5px;
        }
      }
    }
  }
}
