@import "../../../styles/variables";
@import "../../../styles/responsive";
@import "../../../styles/mixins";

.products-dash-wrapper {
  padding: 40px 60px;

  @include devices(tablet) {
    padding: 30px 10px;
  }
  @include devices(mobile) {
    padding: 20px 10px;
  }
  .products-dash {
    margin-top: 30px;
    font-size: 20px;
    @include devices(mobile) {
      padding-inline: auto;
    }

    h4 {
      text-align: center;
    }
    .search {
      margin-top: 20px;
      margin-bottom: 20px;
      display: flex;
      gap: 50px;
      font-size: 17px;
      font-weight: 700;
      letter-spacing: -0.25px;
      flex-wrap: wrap;
      @include devices(tablet) {
        font-size: 14px;
        gap: 23px;
      }
      @include devices(mobile) {
        font-size: 10px;
        gap: 10px;
      }
      input {
        padding: 13px;
        border-radius: 8px;
        border: 1px solid #cfcfcf;
        font-size: 17px;
        font-weight: 700;
        letter-spacing: -0.25px;
        width: 300px;
        @include devices(tablet) {
          font-size: 14px;
          padding: 10px;
          width: 220px;
        }
        @include devices(mobile) {
          font-size: 10px;
          padding: 4px;
          width: 150px;
          border-radius: 5px;
        }
        &::placeholder {
          font-size: 17px;
          opacity: 1;
          @include devices(tablet) {
            font-size: 14px;
          }
          @include devices(mobile) {
            font-size: 10px;
          }
        }
      }
      .custom-dropdown {
        width: 168px;
        padding: 13px;
        border-radius: 8px;
        border: 1px solid #cfcfcf;
        font-size: 17px;
        font-weight: 700;
        letter-spacing: -0.25px;
        position: relative;

        @include devices(tablet) {
          font-size: 14px;
          padding: 10px;
          width: 139px;
        }
        @include devices(mobile) {
          font-size: 10px;
          padding: 3px;
          width: 95px;
          border-radius: 5px;
        }
        .dropdown-selected {
          display: flex;
          align-items: center;
          opacity: 0.6;
          cursor: pointer;
          justify-content: center;
          .icon {
            margin-left: 10px;
          }
        }
        .dropdown-options {
          position: absolute;
          z-index: 10;
          background-color: white;
          width: 168px;
          border: 1px solid #cfcfcf;
          border-radius: 8px;
          top: 51px;
          left: 0;
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
          padding: 13px;
          @include devices(tablet) {
            top: 45px;
            width: 139px;
            padding: 10;
          }
          @include devices(mobile) {
            top: 31px;
            width: 95px;
            border-radius: 5px;
            padding: 3px;
          }

          cursor: pointer;
          .dropdown-option {
            opacity: 0.6;
            padding-block: 2px;
            &:hover {
              color: $color-accent;
              opacity: 1;
            }
            @include devices(tablet) {
              font-size: 14px;
              padding-block: 1px;
            }
            @include devices(mobile) {
              font-size: 11px;
              padding-block: 0;
              line-height: 22px;
            }
          }
        }
      }
    }
    table {
      @include devices(tablet) {
        margin-inline: auto;
      }
      @include devices(mobile) {
        margin-inline: auto;
      }

      tr {
        th {
          font-size: 15px;

          @include devices(tablet) {
            font-size: 11px;
          }
          @include devices(mobile) {
            display: none;
          }
        }
        td {
          padding: 10px 25px;
          border-bottom: solid 1px black;
          @include devices(tablet) {
            padding: 10px;
          }
          @include devices(mobile) {
            padding: 3px;
          }
          &.view {
            @include devices(mobile) {
              display: none;
            }
          }
          p {
            font-size: 22px;
            @include devices(tablet) {
              font-size: 17px;
            }
            @include devices(mobile) {
              font-size: 13px;
            }
          }
          img {
            width: 110px;
            height: 80px;
          }
          button {
            background-color: $color-accent;
            padding: 15px 20px;
            margin: 0;
            font-size: 22px;
            border: none;
            color: white;

            @include devices(mobile) {
              font-size: 18px;
            }
            &.delete {
              background-color: rgb(204, 7, 7);
            }
          }
        }
      }
    }
  }
}
