@import "../../../styles/variables";
@import "../../../styles/responsive";
@import "../../../styles/mixins";

.category-dash-wrapper {
  padding: 40px 60px;

  @include devices(tablet) {
    padding: 30px 10px;
  }
  @include devices(mobile) {
    padding: 20px 10px;
  }
  .categories-dash {
    margin-top: 50px;
    font-size: 20px;
    h4 {
      text-align: center;
    }
    tr {
      border-bottom: solid 1px black;
      td {
        padding: 10px 20px;
        border-bottom: solid 1px black;
        @include devices(mobile) {
          padding: 3px;
        }
        p {
          font-size: 22px;
          @include devices(mobile) {
            font-size: 13px;
          }
        }

        img {
          width: 110px;
          height: 80px;
        }
        button {
          background-color: $color-accent;
          padding: 15px 20px;
          margin: 0;
          font-size: 22px;
          border: none;
          color: white;

          @include devices(mobile) {
            font-size: 18px;
          }
          &.delete {
            background-color: rgb(204, 7, 7);
          }
        }
      }
    }
  }
}
