@import "../../styles/responsive";
@import "../../styles/variables";
@import "../../styles/typography";
.category-wrapper {
  margin-block: 70px;
  width: 90%;
  margin-inline: auto;
  @include devices(tablet) {
    width: 95%;
  }
  @include devices(mobile) {
    margin-block: 80px;
  }

  .slider {
    display: flex;

    .category-item {
      transition: all 0.5s ease-in-out;
      position: relative;
      z-index: 1;
      border-radius: 8px;
      margin: 0;
      background-color: rgb(240, 239, 239);
      box-shadow: 0px 5px 8px 3px rgba(0, 0, 0, 0.2);

      h6 {
        margin-block: 7px;
        text-align: center;
        @include devices(tablet) {
          font-size: 13px;
          margin-block: 0;
        }
        @include devices(mobile) {
          margin-block: 0;
          font-size: 9.5px;
          letter-spacing: 0.3px;
          line-height: 16px;
        }
      }
      img {
        border-radius: 8px;
      }
    }
    .category-item.left2 {
      transform: scale(0.95) translateX(0);
      z-index: 0;
    }
    .category-item.left {
      transform: scale(1.07) translateX(-10%);
      z-index: 1;
      @include devices(mobile) {
        transform: scale(1.2);
      }
    }
    .category-item.right {
      transform: scale(1.07) translateX(10%);
      z-index: 1;
      @include devices(mobile) {
        transform: scale(1.2);
      }
    }
    .category-item.right2 {
      transform: scale(0.95) translateX(0);
      z-index: 0;
    }
    .category-item.center {
      transform: scale(1.2);
      z-index: 2;
      @include devices(mobile) {
        transform: scale(1.45);
      }
    }
  }
}
