@import "../../styles/responsive";

.category-wrapper {
  margin-bottom: 50px;
  width: 100%;
  .slider {
    margin-top: 50px;
    width: 100%;
    div {
      div {
        border-radius: 20px;
        h6 {
        }
        img {
          border-radius: 20px;
        }
      }
    }
  }
}
