@import "../../styles/variables";
@import "../../styles/responsive";
@import "../../styles/mixins";

.add-wrapper {
  display: flex;

  .wrapper {
    margin-inline: 50px;
    display: inline-flex;
    flex-direction: column;
  }
}
