@import "../../../styles/variables";
@import "../../../styles/responsive";
@import "../../../styles/mixins";

.add-product-wrapper {
  display: flex;
  flex-direction: column;

  input {
    @include input;
    font-size: 15px;
    padding-block: 10px;

    @include devices(tablet) {
      font-size: 13px;
      padding-inline: 5px;
      padding-block: 10px;
    }
    @include devices(mobile) {
      font-size: 12px;
      padding-inline: 5px;
      padding-block: 8px;
      border-radius: 5px;
    }
    &::placeholder {
      font-size: 15px;
      @include devices(tablet) {
        font-size: 13px;
      }
      @include devices(mobile) {
        font-size: 12px;
      }
    }
    &.error {
      outline: 1px solid $color-error;
    }
  }
  button {
    @include btn;
    margin-top: 20px;
    @include devices(tablet) {
      margin-top: 30px;
    }
    @include devices(mobile) {
      margin-top: 20px;
      font-size: 12px;
    }
  }
  label {
    @include label;

    &.error {
      color: $color-error;
    }
    @include devices(mobile) {
      margin-block: 3px;
      font-size: 12px;
    }
  }
  .top {
    display: flex;
    flex-direction: column;
    gap: 10px;
    @include devices(tablet) {
      // margin-block: 30px;
    }
    @include devices(mobile) {
      flex-direction: column;
      // margin-block: 20px;
    }
    .top-1 {
      display: flex;
      gap: 10px;
      .wrapper {
        display: flex;
        flex-direction: column;
      }
      .title {
        min-width: 600px;
        @include devices(tablet) {
          min-width: 400px;
          max-width: 600px;
        }
        @include devices(mobile) {
          max-width: 300px;
          min-width: 150px;
        }
      }
      .number {
        min-width: 95px;
        @include devices(tablet) {
          min-width: 80px;
          max-width: 180px;
        }
        @include devices(mobile) {
          max-width: 90px;
          min-width: 40px;
        }
      }
    }
    .top-2 {
      display: flex;
      gap: 10px;
      justify-content: left;
      .wrapper {
        display: flex;
        flex-direction: column;
      }
      .number {
        min-width: 95px;
        @include devices(tablet) {
          min-width: 80px;
          max-width: 180px;
        }
        @include devices(mobile) {
          max-width: 90px;
          min-width: 40px;
        }
      }
    }
  }
  .middle {
    display: flex;
    gap: 30px;
    margin-block: 10px;
    width: 70%;

    @include devices(tablet) {
      gap: 10px;
      margin-block: 20px;
    }

    @include devices(mobile) {
      gap: 10px;
      margin-block: 10px;
    }

    .wrapper {
      width: 33%;
      display: flex;
      flex-direction: column;

      select {
        @include input;
        font-size: 17px;

        padding-block: 10px;
        @include devices(tablet) {
          font-size: 15px;
          padding-inline: 5px;
          padding-block: 10px;
        }
        @include devices(mobile) {
          font-size: 12px;
          padding-inline: 5px;
          padding-block: 8px;
        }
        &:hover,
        &:focus {
          outline: 1px solid $color-accent;
        }
        &.error {
          outline: 1px solid $color-error;
        }
        option {
          @include input;
          font-size: 15px;
          opacity: 0.5;
          @include devices(tablet) {
            font-size: 15px;
            padding-inline: 5px;
          }
          @include devices(mobile) {
            font-size: 12px;
            padding-inline: 5px;
          }
        }
      }
    }
  }
  .bottom {
    display: flex;
    gap: 30px;
    @include devices(tablet) {
      gap: 10px;
    }
    @include devices(mobile) {
      flex-direction: column;
      gap: 10px;
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      textarea.description {
        @include input;
        width: 350px;
        height: 85px;
        padding-block: 10px;
        font-size: 15px;
        @include devices(tablet) {
          max-width: 200px;
          min-width: 150px;
          font-size: 15px;
          height: 100px;
        }
        @include devices(mobile) {
          width: 100%;
          font-size: 13px;
          height: 50px;
          padding-block: 8px;
        }
        &::placeholder {
          font-size: 15px;
          @include devices(tablet) {
            font-size: 15px;
          }
          @include devices(mobile) {
            font-size: 13px;
          }
        }
        &.error {
          outline: 1px solid $color-error;
        }
        &:hover,
        &:focus {
          outline: 1px solid $color-accent;
        }
      }
      textarea.features {
        @include input;
        width: 500px;
        height: 85px;
        padding-block: 10px;
        font-size: 15px;
        @include devices(tablet) {
          max-width: 300px;
          min-width: 200px;
          font-size: 15px;
          height: 85px;
        }
        @include devices(mobile) {
          width: 100%;
          font-size: 12px;
          height: 65px;
        }
        &::placeholder {
          font-size: 15px;
          @include devices(tablet) {
            font-size: 15px;
          }
          @include devices(mobile) {
            font-size: 12px;
          }
        }
        &.error {
          outline: 1px solid $color-error;
        }
        &:hover,
        &:focus {
          outline: 1px solid $color-accent;
        }
      }
    }
  }
}
