@import "../../styles/variables";
@import "../../styles/responsive";

.header-wrapper {
  background-color: $color-primary;
  text-align: center;
  padding-block: 70px;
  @include devices(mobile) {
    padding-block: 20px;
  }
  h1 {
    margin: 0;
    color: $white;
  }
}
