@import "../../styles/variables";
@import "../../styles/mixins";
@import "../../styles/responsive";

.products-wrapper {
  .search {
    margin-top: 20px;
    display: flex;
    gap: 50px;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: -0.25px;
    flex-wrap: wrap;
    @include devices(tablet) {
      font-size: 14px;
      gap: 23px;
    }
    @include devices(mobile) {
      font-size: 10px;
      gap: 10px;
    }
    input {
      padding: 13px;
      border-radius: 8px;
      border: 1px solid #cfcfcf;
      font-size: 17px;
      font-weight: 700;
      letter-spacing: -0.25px;
      width: 300px;
      @include devices(tablet) {
        font-size: 14px;
        padding: 10px;
        width: 220px;
      }
      @include devices(mobile) {
        font-size: 10px;
        padding: 4px;
        width: 150px;
        border-radius: 5px;
      }
      &::placeholder {
        font-size: 17px;
        opacity: 1;
        @include devices(tablet) {
          font-size: 14px;
        }
        @include devices(mobile) {
          font-size: 10px;
        }
      }
    }
    .custom-dropdown {
      width: 168px;
      padding: 13px;
      border-radius: 8px;
      border: 1px solid #cfcfcf;
      font-size: 17px;
      font-weight: 700;
      letter-spacing: -0.25px;
      position: relative;

      @include devices(tablet) {
        font-size: 14px;
        padding: 10px;
        width: 139px;
      }
      @include devices(mobile) {
        font-size: 10px;
        padding: 3px;
        width: 95px;
        border-radius: 5px;
      }
      .dropdown-selected {
        display: flex;
        align-items: center;
        opacity: 0.6;
        cursor: pointer;
        justify-content: center;
        .icon {
          margin-left: 10px;
        }
      }
      .dropdown-options {
        position: absolute;
        z-index: 10;
        background-color: white;
        width: 168px;
        border: 1px solid #cfcfcf;
        border-radius: 8px;
        top: 51px;
        left: 0;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

        @include devices(tablet) {
          top: 45px;
          width: 139px;
          padding: 10;
        }
        @include devices(mobile) {
          top: 31px;
          width: 95px;
          border-radius: 5px;
          padding: 3px;
        }

        cursor: pointer;
        .dropdown-option {
          opacity: 0.6;
          padding-block: 2px;
          &:hover {
            color: $color-accent;
            opacity: 1;
          }
          @include devices(tablet) {
            font-size: 14px;
            padding-block: 1px;
          }
          @include devices(mobile) {
            font-size: 11px;
            padding-block: 0;
            line-height: 22px;
          }
        }
      }
    }
  }
  .products {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-items: center;
    margin-top: 60px;
    margin-bottom: 40px;
    @include devices(mobile) {
      display: flex;
      flex-direction: column;
      margin-top: 15px;
    }

    .card {
      margin-bottom: 60px;
      width: 350px;
      @include devices(mobile) {
        width: 100%;
        margin-bottom: -15px;
      }
      .image {
        overflow: hidden;
        border-radius: 8px;
        position: relative;
        img {
          width: 100%;
          height: 300px;
          object-fit: cover;
          transition: $transition;
          &:hover {
            scale: 1.1;
          }
          @include devices(mobile) {
            height: 250px;
          }
        }
      }
      .text {
        text-align: center;
        .title {
          @include devices(mobile) {
            display: flex;
            gap: 20px;
            justify-content: center;
            margin-block: 10px;
          }
          h6 {
            color: $color-accent;
            @include devices(mobile) {
              font-size: 18px;
              margin: 0;
            }
          }
          p {
            font-weight: 700;
            margin: 0;
          }
        }
        .product-btn {
          @include btn($color-accent, $color-accent-hover, $white, none);
          margin-top: 0;
          padding-block: 10px;
          a {
            color: white;
          }
          @include devices(mobile) {
            display: none;
          }
        }
      }
      &.skeleton {
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        height: 300px;
        animation: skeleton-loading 1.5s infinite alternate;
      }
    }
  }
}
@keyframes skeleton-loading {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
