@import "../../styles/variables";
@import "../../styles/mixins";
@import "../../styles/responsive";

.products-wrapper {
  .products {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-items: center;
    margin-top: 100px;
    margin-bottom: 40px;
    @include devices(mobile) {
      display: flex;
      flex-direction: column;
      margin-top: 15px;
    }

    .card {
      margin-bottom: 60px;
      width: 350px;
      @include devices(mobile) {
        width: 100%;
        margin-bottom: -15px;
      }
      .image {
        overflow: hidden;
        border-radius: 8px;
        position: relative;
        img {
          width: 100%;
          height: 300px;
          object-fit: cover;
          transition: $transition;
          &:hover {
            scale: 1.1;
          }
          @include devices(mobile) {
            height: 250px;
          }
        }
      }
      .text {
        text-align: center;
        .title {
          @include devices(mobile) {
            display: flex;
            gap: 20px;
            justify-content: center;
            margin-block: 10px;
          }
          h6 {
            color: $color-accent;
            @include devices(mobile) {
              font-size: 18px;
              margin: 0;
            }
          }
          p {
            font-weight: 700;
            margin: 0;
          }
        }
        .product-btn {
          @include btn($color-accent, $color-accent-hover, $white, none);
          margin-top: 0;
          padding-block: 10px;
          a {
            color: white;
          }
          @include devices(mobile) {
            display: none;
          }
        }
      }
      &.skeleton {
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        height: 300px;
        animation: skeleton-loading 1.5s infinite alternate;
      }
    }
  }
}
@keyframes skeleton-loading {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
